img {
    width: 30%;
    margin: calc(10%/6);
    padding: 0;
}

body {
    margin: 0;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    width: 30%;
    margin-left: calc(10%/7);
    padding: 1% 0;
    font-family: 'Roboto Slab', serif;
}